# Python Programming : An Introduction 02

# Python Comments

#Creating Comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!") 

print("Hello, World!") #This is a comment

##Multi Line Comments

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Python Variables

#Creating Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

#Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#Get the Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

#Single or Double Quotes?

In [ ]:
x = "John"
# is the same as
x = 'John'

#Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

## Python - Variable Names


    A variable name must start with a letter or the underscore character
    A variable name cannot start with a number
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)

#legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:

In [1]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (1184080061.py, line 10)

## Assign Multiple Values

In [ ]:
#Many Values to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [10]:
a , b = 2 , 5

print(a,b)

a , b = b , a  # easily exchange varibles

print(a,b)

2 5
5 2

#One Value to Multiple Variables

In [3]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange
Orange
Orange
blue

#Unpack a Collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

## Python - Output Variables

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = 5
y = "John"
print(x, y)

https://docs.python.org/3/  # Reference docs for python

General Format of print function:

print(*objects, sep=' ', end='\n', file=None, flush=False)

## Python - Global Variables

Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

The global Keyword

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [7]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

                                            Built-in Data Types

Python has the following data types built-in by default, in these categories:

Text Type: 	        str

Numeric Types: 	    int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	    dict

Set Types: 	        set, frozenset

Boolean Type: 	    bool

Binary Types: 	    bytes, bytearray, memoryview

None Type: 	        NoneType

Getting the Data Type

In [ ]:
x = 5
print(type(x))

In [ ]:
Setting the Data Type

In [8]:
x0 = "Hello World"                                  # str 
x1 = 20                                             # int 
x2 = 20.5                                           # float 
x3 = 1j                                             # complex 
x4= ["apple", "banana", "cherry"]                   # list 
x5 = ("apple", "banana", "cherry")                  # tuple 
x6 = range(6)                                       # range 
x7 = {"name" : "John", "age" : 36}                  # dict 
x8 = {"apple", "banana", "cherry"}                  #  set 
x9 = frozenset({"apple", "banana", "cherry"})       # frozenset 
x10 = True                                          # bool
x11 = b"Hello"                                      # bytes 
x12 = bytearray(5)                                  # bytearray 
x13 = memoryview(bytes(5))                          #  memoryview 
x14 = None 	                                        # NoneType

## Python Numbers

There are three numeric types in Python:

    int
    
    float
    
    complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [9]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 10))

## Python Casting


    int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
    
    float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
    
    str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

In [ ]:
a = "Hello"
print(a)

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Strings are Arrays

In [ ]:
a = "Hello, World!"
print(a[1])

Looping Through a String

In [ ]:
for x in "banana":
  print(x)

String Length

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
Check String

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Check if NOT

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

## Python - Slicing Strings

In [ ]:
b = "Hello, World!" 
print(b[2:5])

In [ ]:
b = "Hello, World!"        # Slice From the Start
print(b[:5])

In [ ]:
b = "Hello, World!"        # Slice To the End
print(b[2:])

In [ ]:
b = "Hello, World!"        # Negative Indexing
print(b[-5:-2])

In [ ]:
txt = "Hello World"[::-1]  # Reverse a string
print(txt)

## Python - Modify Strings

Upper Case

In [ ]:
a = "Hello, World!"
print(a.upper())

Lower Case

In [ ]:
a = "Hello, World!"
print(a.lower())

Remove Whitespace

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

String Format

In [11]:
#we cannot combine strings and numbers like this
age = 36                                    
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

# Escape Characters

In [ ]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."



    \' 	    Single Quote 	
    \\ 	    Backslash 	
    \n 	    New Line 	
    \r 	    Carriage Return 	
    \t 	    Tab

In [22]:
a = 'I like to \ooolearn Python.'
print(a)

I like to \ooolearn Python.

# String Methods

capitalize()

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

count()

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

split()

In [27]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ",2)

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

rsplit()

In [ ]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

strip()

In [28]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [29]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

title()

In [30]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [31]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

index()

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

find()

In [32]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

    The find() method finds the first occurrence of the specified value.

    The find() method returns -1 if the value is not found.

    The index() method raises an exception if the value is not found.

isdigit()

In [35]:
txt = "50800.87"

x = txt.isdigit()

print(x)

False

partition()

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

In [ ]:
translate()

In [36]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

# Python Booleans

    Booleans represent one of two values: True or False.
    
    Any string is True, except empty strings.

    Any number is True, except 0.

    Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

Functions can Return a Boolean

In [ ]:
def myFunction() :
  return True

print(myFunction())

# Python Operators

Python divides the operators in the following groups:

    Arithmetic operators
    
    Assignment operators
    
    Comparison operators
    
    Logical operators
    
    Identity operators
    
    Membership operators

Python Arithmetic Operators


    +              Addition          x + y 
    -              Subtraction       x - y 
    *              Multiplication    x * y 
    /              Division          x / y 
    %              Modulus           x % y 
    **             Exponentiation    x ** y 
    //             Floor division    x//y

Python Assignment Operators

     =          x = 5 	   x = 5 	
     
    += 	        x += 3 	   x = x + 3 
    
    -= 	        x -= 3 	   x = x - 3 	
    
    *= 	        x *= 3 	   x = x * 3 
    
    /= 	        x /= 3 	   x = x / 3 
    
    %= 	        x %= 3 	   x = x % 3 	
    
    //= 	    x //= 3    x = x // 3 
    
    **= 	    x **= 3    x = x ** 3 
    
    &= 	        x &= 3 	   x = x & 3 	
    
    |= 	        x |= 3 	   x = x | 3
    
    ^= 	        x ^= 3 	   x = x ^ 3 	
    
    >>= 	    x >>= 3    x = x >> 3 
    
    <<= 	    x <<= 3    x = x << 3

Python Comparison Operators

    == 	Equal 	                    x == y 	
    
    != 	Not equal 	                x != y 
    
    > 	Greater than 	            x > y 	
    
    < 	Less than 	                x < y 
    
    >= 	Greater than or equal to 	x >= y 
    
    <= 	Less than or equal to 	    x <= y

Python Logical Operators

    and  	Returns True if both statements are true 	                  x < 5 and  x < 10 
    
    or 	    Returns True if one of the statements is true 	              x < 5 or x < 4 	
    
    not 	Reverse the result, returns False if the result is true 	  not(x < 5 and x < 10)

Python Identity Operators

    is          Returns True if both variables are the same object              x is y 
    is not      Returns True if both variables are not the same object          x is not y

Python Membership Operators

    in  	  Returns True if a sequence with the specified value is present in the object 	      x in y 	
    
    not in 	  Returns True if a sequence with the specified value is not present in the object 	  x not in y

# Python Collections


    List          is a collection which is ordered and changeable. Allows duplicate members.
    
    Tuple         is a collection which is ordered and unchangeable. Allows duplicate members.
    
    Set           is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    
    Dictionary    is a collection which is ordered** and changeable. No duplicate members.

# Python Lists

    List items are :
                    ordered, 
                    changeable, 
                    allow duplicate values.

    List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

List Length

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

List Items - Data Types

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

The list() Constructor

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

# Access List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

Check if Item Exists

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

# Change List Items

Change Item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

Change a Range of Item Values

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [40]:
#The length of the list will change when the number of items inserted does not match the number of items replaced.

thislist = ["apple", "banana", "cherry","cherry"]
thislist[1:3] = ["watermelon","watermelon","watermelon"]
print(thislist)

['apple', 'watermelon', 'watermelon', 'watermelon', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Add List Items

Append Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

Insert Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

# Remove List Items

Remove Specified Item

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

Remove Specified Index

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
# If you do not specify the index, the pop() method removes the last item.

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
# The del keyword also removes the specified index

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
# The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

Clear the List

In [ ]:
#The clear() method empties the list.
#The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

# Loop Lists

Loop Through a List

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

Loop Through the Index Numbers

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

# List Comprehension

     newlist = [expression for item in iterable if condition == True]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [11]:
# condition
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# iterable
newlist = [x for x in range(10)] 
print(newlist)

In [12]:
#iterable
newlist = [x for x in range(10) if x < 5] 
print(newlist)

[0, 1, 2, 3, 4]

In [14]:
#Expression

newlist = [x.upper() for x in fruits] 
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#Set all values in the new list to 'hello'

newlist = ['hello' for x in fruits] 
newlist

In [ ]:
#Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits] 
newlist

# Sort Lists

    List objects have a sort() method that will sort the list alphanumerically, ascending, by default
    
    To sort descending, use the keyword argument "reverse = True"

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

# Copy Lists

    You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [18]:
thislist = ["apple", "banana", "cherry"]
anotherlist = thislist
#del anotherlist[0]
print(thislist)
print(anotherlist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
# using copy() function

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [19]:
#Another way to make a copy is to use the built-in method list().

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Lists

Join Two Lists

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [28]:
# using * operator
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = [*list1, *list2]
list3

['a', 'b', 'c', 1, 2, 3]

In [20]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [21]:
# wrong use of append!!
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.append(list2)

print(list1)

['a', 'b', 'c', [1, 2, 3]]

In [ ]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

# Python Tuples

    Tuple items are ordered, unchangeable, and allow duplicate values.
    
    When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

## Access Tuple Items

In [ ]:
#You can access tuple items by referring to the index number, inside square brackets:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

Check if Item Exists

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

## Update Tuples

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
#Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

Remove Tuple Items

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

## Unpack Tuples

    in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [33]:
# The number of variables must match the number of values in the tuple, if not, 
# you must use an asterisk to collect the remaining values as a list.

fruits = ("apple", "banana", "cherry")

fruit1, fruit2 , fruit3 = fruits

print(fruit1)
print(fruit2)
print(fruit3,type(fruit3))

apple
banana
cherry <class 'str'>

In [34]:
# using * operator

fruits = ("apple", "banana", "cherry","peach")

green, yellow , *others = fruits

print(green)
print(yellow)
print(others)

apple
banana
['cherry', 'peach']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

##Loop Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

## Join Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

Multiply Tuples

In [35]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python Sets

    Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

The set() Constructor

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

## Access Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

## Add Set Items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

## Remove Set Items

In [ ]:
#If the item to remove does not exist, remove() will raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
# If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

## Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

## Join Sets

In [ ]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

## Set Methods

    add()	          Adds an element to the set
    clear()	          Removes all the elements from the set
    copy()	          Returns a copy of the set
    difference()	  Returns a set containing the difference between two or more sets
    discard()	      Remove the specified item
    intersection()	  Returns a set, that is the intersection of two other sets
    isdisjoint()	  Returns whether two sets have a intersection or not
    issubset()	      Returns whether another set contains this set or not
    issuperset()	  Returns whether this set contains another set or not
    pop()	          Removes an element from the set
    remove()	      Removes the specified element
    union()	          Return a set containing the union of sets
    update()	      Update the set with the union of this set and others

# Python Dictionaries

    Dictionary items are ordered, changeable, and does not allow duplicates.

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
 print(thisdict["brand"])

Duplicates Not Allowed

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964,
  "year": 2020
 }
 print(thisdict)

Dictionary Length

In [ ]:
print(len(thisdict))

Dictionary Items - Data Types

In [ ]:
thisdict = {
   "brand": "Ford",
   "electric": False,
   "year": 1964,
  "colors": ["red", "white", "blue"]
 }

## Access Dictionary Items

In [3]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
x = thisdict["model"]

In [ ]:
#There is also a method called get() that will give you the same result:


Get the value of the "model" key:

x = thisdict.get("model")

In [ ]:
#The keys() method will return a list of all the keys in the dictionary.


Get a list of the keys:

x = thisdict.keys()

In [1]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] ="white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values

In [4]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"]= "red"

print(x) #after the change

Get Items

In [5]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"]= 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Check if Key Exists

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
if "model" in thisdict:
  print("Yes, 'model' isone of the keys in the thisdict dictionary")

## Change Dictionary Items

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict["year"] = 2018

In [ ]:
#Update the "year" of the car by using the update() method:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.update({"year": 2020})

## Add Dictionary Items

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict["color"] = "red"
print(thisdict)

In [ ]:
#Add a color item to the dictionary by using the update() method:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.update({"color":"red"})

## Remove Dictionary Items

In [ ]:
The pop() method removes the item with the specified key name:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.pop("model")
print(thisdict)

In [ ]:
#The popitem() method removes the lastinserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.popitem()
print(thisdict)

In [ ]:
#The del keyword removes the item with the specifiedkey name:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
del thisdict["model"]
print(thisdict)

In [ ]:
#The del keyword can also delete thedictionary completely:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
del thisdict
print(thisdict) #this will cause an error because "thisdict"no longer exists

In [ ]:
#The clear() method empties thedictionary:

thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
thisdict.clear()
print(thisdict)

## Loop Dictionaries

In [ ]:
#Print all key names in the dictionary, one by one:

for x in thisdict:
  print(x)

In [ ]:
#Print all values in the dictionary, one by one:

for x in thisdict:
  print(thisdict[x])

In [ ]:
#You can also use the values() method to return values of a dictionary:


for x in thisdict.values():
  print(x)

In [ ]:
#You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
  print(x)

In [ ]:
#Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

## Copy Dictionaries

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
mydict= thisdict.copy()
print(mydict)

In [ ]:
thisdict = {
   "brand": "Ford",
   "model": "Mustang",
   "year": 1964
 }
mydict= dict(thisdict)
print(mydict)

## Nested Dictionaries

In [6]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
   "name" : "Tobias",
    "year" : 2007
  },
 "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
} 

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

Add three dictionaries into a new dictionary:

In [7]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
 "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
 "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

## Dictionary Methods